/.vscode
/a3.py
/a4.py
/a5.
/airports.csv
/binerySerch.py
/chinesh.py
/cornometr.py
/exsersise.py
/file.json
/file.text
/file.txt
/filereder.py
/filewriter.py
/findnumbers.py
/gcd.py
/hale-masaele-payton_Sourcebaran.com.pdf
/hart.py
/hasshmap.py
/mashin.py
/moratab.py
/my_account.session
/numpy1.py
/oop.py
/paswordsaz.py
/ps.py
/qicsore.py
/qoicsort.java
/ramznegar.py
/recrsevSum.py
/recrseve.py
/strasen-tryn.py
/tecing.py
/telgrombot.py
/tempCodeRunnerFile.py
/timer.py
/translator.py
/trayn.py
/workWithfils.py
/workwithfils.py